<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727684302843-9grso1h9f66gnq50tre64t0sipnl5evs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727684302843-9grso1h9f66gnq50tre64t0sipnl5evs</string>
	<key>API_KEY</key>
	<string>AIzaSyByaZhxvDD3tm0Ab_Op75eGwqXu7xS0myA</string>
	<key>GCM_SENDER_ID</key>
	<string>727684302843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shadBaman</string>
	<key>PROJECT_ID</key>
	<string>shad-baman</string>
	<key>STORAGE_BUCKET</key>
	<string>shad-baman.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727684302843:ios:af95043a85de94eaa2ad5e</string>
</dict>
</plist>